<!-- the header section -->
<div class="wrapper">
  <article>
    <h1>LEARN SHARE BUILD</h1>
    <p>
      Together! We are making the world a bit smaller. Every forward step
      broadens our horizon, and the horizon of those we love.
    </p>
  </article>

  <div class="guru">
    <img src="../../assets/host.png" alt="guru" />
  </div>
</div>

<!-- the theme section -->

<div class="wrapper-2">
  <div class="video-section">
    <video playsinline autoplay muted loop poster="videoGIF.gif" id="bgvid">
      <source src="../../assets/india.mp4" type="video/mp4" />
      video not supported
    </video>
    <div class="video-overlay">
      <div class="overlay-content">
        <p>
          With the other side of the World being at our finger tips; there's an
          opportunity to discover our likeness and differences. What if we chose
          to focus more on learning about each other and less time fearful of
          each other.
        </p>
        <button><a href="culture">Learn More</a></button>
      </div>
    </div>
  </div>
</div>
<!-- call to action section -->
<div class="invite">
  <h2>Join Our Community</h2>
  <div class="social_media">
    <ul>
      <li>
        <a href="#"
          ><img src="../../assets/twitter.png" alt="Twitter icon" width="40"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img src="../../assets/facebook.png" alt="facebook icon" width="35"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img src="../../assets/ig.png" alt="Instagram icon" width="38"
        /></a>
      </li>
    </ul>
  </div>
</div>

<!-- the foot section that is duplicated on every page -->
<footer>
  <img src="../../assets/mainLogo.png" alt="logo" width="100px" />
  <a href="#top">Jump to top</a>

  <p>© 2020 DIVERSIFIED.CO</p>
</footer>
