<!-- <app-chatlogin></app-chatlogin> -->
<div class="header">
  <h1>WELCOME TO OUR COMMUNITY</h1>
  <span class="about-us"
    >Feel free to contact one of the admins on this page.<br />
    To speak with one for a live chat, please click the 'CHAT WITH US' button
    below.<br />
    Please enter your username, language you speak and the country you're
    interested in learning more about; one of our admins will be standing by and
    would love to talk with you!</span
  ><br />
  <button class="share">
    <a routerLink="/chatlogin">CHAT WITH US</a>
  </button>
</div>

<div class="info-cards">
  <!-- info card 1 -->
  <div class="wrapper">
    <div class="left">
      <img src="../../assets/images/Mikey.jpg" alt="user" width="100" />
      <h4>Mike Syfax</h4>
      <p>Culture Ambassador</p>
      <p>USA</p>
    </div>
    <div class="right">
      <div class="info">
        <h3>Contact</h3>
        <div class="info_data">
          <div class="data">
            <h4>Email</h4>
            <p>1234@yahoo.com</p>
          </div>
          <div class="data">
            <h4>Phone</h4>
            <p>313-555-5694</p>
          </div>
        </div>
      </div>

      <div class="projects">
        <h3>CX Highlights</h3>
        <div class="projects_data">
          <div class="data">
            <h4>Recent</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="data">
            <h4>Most Viewed</h4>
            <p>dolor sit amet.</p>
          </div>
        </div>
      </div>

      <div class="social_media">
        <ul>
          <li>
            <a href=""
              ><img
                src="../../assets/twitter.png"
                alt="Twitter icon"
                width="40"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../../assets/facebook.png"
                alt="facebook icon"
                width="35"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="../../assets/ig.png" alt="Instagram icon" width="38"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- info card 2 -->
  <div class="wrapper-2">
    <div class="left">
      <img src="../../assets/Grace.png" alt="user" width="100" />
      <h4>Grace Mullins</h4>
      <p>Food Ambassador</p>
      <p>USA</p>
    </div>
    <div class="right">
      <div class="info">
        <h3>Contact</h3>
        <div class="info_data">
          <div class="data">
            <h4>Email</h4>
            <p>1234@yahoo.com</p>
          </div>
          <div class="data">
            <h4>Phone</h4>
            <p>313-555-5694</p>
          </div>
        </div>
      </div>

      <div class="projects">
        <h3>CX Highlights</h3>
        <div class="projects_data">
          <div class="data">
            <h4>Recent</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="data">
            <h4>Most Viewed</h4>
            <p>dolor sit amet.</p>
          </div>
        </div>
      </div>

      <div class="social_media">
        <ul>
          <li>
            <a href=""
              ><img
                src="../../assets/twitter.png"
                alt="Twitter icon"
                width="40"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../../assets/facebook.png"
                alt="facebook icon"
                width="35"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="../../assets/ig.png" alt="Instagram icon" width="38"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- info card 3 -->
  <div class="wrapper-3">
    <div class="left">
      <img src="../../assets/chels.png" alt="user" width="100" />
      <h4>Chelsea Wylie</h4>
      <p>Music Ambassador</p>
      <p>USA</p>
    </div>
    <div class="right">
      <div class="info">
        <h3>Contact</h3>
        <div class="info_data">
          <div class="data">
            <h4>Email</h4>
            <p>1234@yahoo.com</p>
          </div>
          <div class="data">
            <h4>Phone</h4>
            <p>313-555-5694</p>
          </div>
        </div>
      </div>

      <div class="projects">
        <h3>CX Highlights</h3>
        <div class="projects_data">
          <div class="data">
            <h4>Recent</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="data">
            <h4>Most Viewed</h4>
            <p>dolor sit amet.</p>
          </div>
        </div>
      </div>

      <div class="social_media">
        <ul>
          <li>
            <a href=""
              ><img
                src="../../assets/twitter.png"
                alt="Twitter icon"
                width="40"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="../../assets/facebook.png"
                alt="facebook icon"
                width="35"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="../../assets/ig.png" alt="Instagram icon" width="38"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- the foot section that is duplicated on every page -->
<div class="section">
  <footer>
    <img src="../../assets/mainLogo.png" alt="logo" width="100px" />
    <a href="#top">Jump to top</a>
    <p>© 2020 DIVERSIFIED.CO</p>
  </footer>
</div>
